<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Welcome to STARTEC REGISTRO</h1>
      </div>
    </div>
    <div class="row" style="height: 60vh">
      <div class="col-sm-12 my-auto text-center">
        <button class="btn btn-sm btn-primary mb-3" routerLink="/install">Install App</button>
        <p>- or -</p>
        <button class="btn btn-lg btn-success mt-3"  routerLink="/users">Continue</button>
      </div>
    </div>
  </div>
  <div class="footer mb-3">
    <span class="text-muted my-auto">Powered by: </span>
    <img src="assets/inline-logo.png" alt="startec-logo" class="img-fluid my-auto" style="max-width: 100px;"> 
  </div>