<div class="container shadow-sm">
    <div class="col-sm-12 text-center mb-3 p-2">
        <h5>Select User</h5>
    </div>    
</div>
<div class="container">
    <div class="col-sm-12 text-center" *ngFor="let user of users; index as i">
        <div class="card m-2 text-left">
            <div class="card-body px-3 py-1" (click)="showMenu(i)">
                <h4 class="card-title">{{ user.name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ user.address }}</h6>
                <p class="card-text">{{user.sex}}, {{user.age}}</p>
            </div>
            <div class="card-footer text-muted text-center container p-3" *ngIf="this.isVisible[i]">
                <div class="row">
                    <!-- TODO : add button animation to div -->
                    <div class="col text-success" [routerLink]="['/qr' , i]">Use</div>
                    <div class="col text-warning">Edit</div>
                    <div class="col text-danger">Delete</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO : button animation -->
<div class="float text-center" routerLink="/welcome">
    <div class="row h-100">
        <div class="col my-auto">
            <img src="../../assets/icons/plus.svg" alt="" width="32" height="32" title="Bootstrap" class="my-auto">
        </div>
    </div>
</div>
