<div class="shadow-sm header">
    <div class="text-center p-3">
        <h5><strong>Select User</strong></h5>
    </div>    
</div>
<div class="container"><div class="row"><div class="cols-sm-12 mt-5"><br></div></div></div>
<ng-container *ngIf="dataReady">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-12 text-center" *ngFor="let user of users; index as i">
                <div class="card m-2 text-left">
                    <div class="card-body px-3 py-1" (click)="showMenu(i)">
                        <h4 class="card-title">{{ user.name.toUpperCase() }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ user.address }}</h6>
                        <p class="card-text">{{user.sex}}, {{user.age}}</p>
                    </div>
                    <div class="card-footer text-muted text-center p-3" *ngIf="this.isVisible[i]">
                        <div class="row">
                            <div class="col text-success" [routerLink]="['/qr' , keys[i]]">Use</div>
                            <div class="col text-warning">Edit</div>
                            <div class="col text-danger">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<div class="container"><div class="row"><div class="cols-sm-12 mb-5"><br></div></div></div>

<div class="float text-center" routerLink="/registration">
    <div class="row h-100">
        <div class="col my-auto">
            <img src="assets/plus.svg" alt="" width="32" height="32" title="Bootstrap" class="my-auto">
        </div>
    </div>
</div>
